#page {
    width: 600px;
    margin: 0 auto;
}

#header {
    text-align: center;
}

#header #name {
    font-weight: bold;
}

.section * {
    float: left;
}

.section_title {
    font-variant: small-caps;
    width: 100%;
    border-bottom: solid 2px black;
    margin-top: 1em;
}

.entry {
    width: 100%;
    margin-top: .5em;
    display: inline-block;
}

.section .emphasis {
    float: none;
    font-weight: bold;
}

.subtext {
    font-style: italic;
    float: left;
}
.datetime {
    font-style: italic;
    float: right;
}

.section .description {
    margin-top: .5em;
    clear: both;
    text-align: justify;
}

#projects .entry .subtext {
    float: right;
}

#projects .entry .emphasis {
    float: left;
}